body{
    font-family: 'round sans';
    color: black
}
.site-heading-lower{
    font-family: 'round sans';
    color: rgb(255, 255, 255);
}
.mb-3{
    font-family:'round sans' ;
    color: white;

}
.mb-4{
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
#mainNav{
    background-color: rgb(65, 105, 225);
}


.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px; /* Optional: Add spacing around the video */
}
body {
    background-color: #f0f8ff; /* Light blue */
    color: #00274c; /* Default text color */
}

/* Custom background for game.html */
body.game-page {
    /* background: url('assets/img/byu-campus.jpg') no-repeat center center fixed; */
    background-size: cover;
    color: white;
}

.back-to-home {
    display: inline-block;
    margin: 10px auto;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    background-color: royalblue;
    border-radius: 5px;
}

.back-to-home:hover {
    text-decoration: underline;
    background-color: darkblue;
}